@tailwind base;
@tailwind components;
@tailwind utilities;

.game-container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
}
