version: '3.8'
services:
  # Database
  postgres:
    image: postgres:14
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sheep_game
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - sheep_network

  # Cache
  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
    networks:
      - sheep_network

volumes:
  postgres_data:

networks:
  sheep_network:
    driver: bridge
